################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aoc2021/day1/obj
/aoc2021/day1/bin/Release/net5.0
/aoc2021/.vs/aoc2021
/aoc2021/day2/obj
/aoc2021/day2/bin/Release/net5.0
/aoc2021/day1/bin/Debug/net5.0
/aoc2021/day2/bin/Debug/net5.0
/aoc2021/day3/bin
/aoc2021/day3/obj
/aoc2021/day4/obj
/aoc2021/day4/bin
/aoc2021/day5/obj
/aoc2021/day5/bin
/aoc2021/day6/bin
/aoc2021/day6/day6.vcxproj.user
/aoc2021/day7/bin/Debug/net5.0
/aoc2021/day7/obj
/aoc2021/day8/bin/Debug/net5.0
/aoc2021/day8/obj
/aoc2021/day9/bin/Debug/net5.0
/aoc2021/day9/obj
/aoc2021/day10/bin/Debug/net5.0
/aoc2021/day10/obj
/aoc2021/day11/bin/debug
/aoc2021/day11/day11.vcxproj.user
/aoc2021/day11/day11.vcxproj.filters
